body, a, div, li, p, ul {
  margin: 0;
  padding: 0;
}

input[type="text"], input[type="password"], input[type="submit"] {
  height: auto; /* 높이 초기화 */
  line-height: normal; /* line-height 초기화 */
  padding: 10px 6.5px; /* 여백 설정 */
}


#app {
  position:absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #010101;
}

#app #map-view {
  position:absolute;
  /* position:relative; */
  float:left;
  /* width: calc(100% - 600px); */
  width: 100%;
  height: 100%;
}

#map-view #google-map {
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.mist-map {
  position:absolute;
  width: calc(100% - 600px);
  height: 100%;
  background: rgba(22, 22, 22, 0.5);
  z-index: 999;
}

.logo {
  display: block;
  width:200px;
  -webkit-user-drag: none;
}

.mist-map .logo {
  position:absolute;
}

.hc {
  left: 0; right:0; margin-left:auto; margin-right:auto;
}

.vc {
  top: 0; bottom:0; margin-top:auto; margin-bottom:auto;
}

#side-view {
  position:absolute;
  z-index: 999;
  right:0;
  width: 600px;
  height: 100%;
  display: inline-block;

  /* Black */
  background: rgba(1, 1, 1, 0.92);
}

#side-view .side-box {
  position: absolute;
  width: 320px;
  height: 450px;
  padding-top:20px;
  /* background: #ffffff; */
}

.side-box .login-box {
  display: block;
  position: absolute;
  width: 100%;
  height: 240px;
  margin-top:65px;
  background-color: rgba(196, 196, 196, 0.5);
}

.login-box .user-info-form {
  position: absolute;
  text-align: center;
  width: 217px;
  height: 131px;
}

.login-box .user-info-form .input-label {
  height:30px;
  width:30px;
  background-color: #ffffff;
}

.login-box .user-info-form .login-input {
  display:inline-block;
  height: 20px;
  width: 200px;
}

.login-box .user-info-form #login-submit {
  width: 200px;
  height: 40px;
  margin-top:3px;
}

@media (max-width: 980px) {
  #side-view {
    bottom:0;
    width: 100%;
    height: 40%;
  }

  .mist-map {
    width: 100%;
    height: 60%;
  }

  .side-box .logo {
    display: none;
  }
}
